<div class="container credits">
	
	<h1>Volumio project</h1>

	<div class="row">
		<div class="span8">
			<p>release version: <strong>Beta1.11</strong></p>
			<p><strong><a href="http://volumio.org" target="_blank">Michelangelo Guarise</a></strong> 
			<span class="help-block">project founder - OS image build/customization</span>
			
			<strong>Daniele Busciantella Ricci</strong> (aka Buscia)<br>
			<span class="help-block">Volumio Logo design</span></p>
		</div>
		<div class="span4">
			<h3>Support us!</h3>
			<p class="social-buttons">
				<a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=www.volumio.org&p[images][0]=&p[title]=&p[summary]=Enjoying%20my%20music%20with%20Volumio!%20" class="btn btn-large"><i class="icon-facebook"></i></a>
				<a href="http://twitter.com/home?status=Enjoying%20my%20music%20with%20@Volumio!%20" target="_blank" class="btn btn-large"><i class="icon-twitter"></i></a>
				<a href="https://plus.google.com/share?url=www.volumio.org" target="_blank" class="btn btn-large"><i class="icon-google-plus"></i></a>
			</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
				<input type="hidden" name="cmd" value="_donations">
				<input type="hidden" name="business" value="info@volumio.org">
				<input type="hidden" name="lc" value="US">
				<input type="hidden" name="item_name" value="Donation to Volumio">
				<input type="hidden" name="no_note" value="0">
				<input type="hidden" name="currency_code" value="EUR">
				<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
				<input type="image" src="images/paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			</form>
		</div>
	</div>
	
	<h3>License &amp; Copyright</h3>
	<p><span class="help-block">This Program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation either version 3, 
	or (at your option) any later version. This Program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with Volumio; see the file COPYING. 
	If not, see <a href="http://www.gnu.org/licenses/" target="_blank">http://www.gnu.org/licenses</a></span></p>
	
	<p><h4>Volumio©</h4>
	<span class="help-block"> 2013 - Michelangelo Guarise</span>
	</p>
	<p><h4>Volumio (distribution &amp; website)</h4>
	<span class="help-block"> 2013 - Michelangelo Guarise</span>
	</p>
	<p><h4>Volumio (logo design)</h4>
	<span class="help-block">copyright (C) 2013 - Daniele Busciantella Ricci</span>
	</p>
	<p><h4>RaspyFI PlayerUI (MPD webUI client)</h4>
	<span class="help-block">copyright (C) 2013 - Andrea Coiutti &amp; Simone De Gregori</span>
	<span class="help-block">Andrea Coiutti (aka ACX) - PlayerUI frontend design - frontend HTML/JS/CSS coding</span>
	<span class="help-block">Simone De Gregori (aka Orion) - PlayerUI PHP backend coding - frontend JS coding - OS optimization</span>
	</p><br>
	
	<h2>Distro credits</h2>
	<p>Debian (base distro)
	<span class="help-block"><a href="http://www.debian.org/" target="_blank">http://www.debian.org</a></span>
	<strong>MPD</strong> - Music Player Daemon by  Max Kellermann &amp; Avuton Olrich (big rep for you guys)
	<span class="help-block"><a href="http://www.musicpd.org/" target="_blank">http://www.musicpd.org</a></span>
	MiniDLNA by Justin Maggard
	<span class="help-block"><a href="http://minidlna.sourceforge.net/" target="_blank">http://minidlna.sourceforge.net</a></span>
	Shairport by James "abrasive" Laird
	<span class="help-block"><a href="https://github.com/abrasive/shairport" target="_blank">https://github.com/abrasive/shairport</a></span>
	
	<br></p>

	<h3>PlayerUI credits</h3>
	<p><strong>PHP language v5.4</strong> by <a href="http://php.net/credits.php" target="_blank">PHP Team</a>
	<span class="help-block"><a href="http://php.net" target="_blank">http://php.net</span></a>
	<strong>SQLite v3 database engine</strong> by <a href="http://www.sqlite.org/crew.html" target="_blank">SQLite Team</a>
	<span class="help-block"><a href="http://www.sqlite.org" target="_blank">http://www.sqlite.org</span></a>
	<strong>jQuery Knob</strong> by Anthony Terrien
	<span class="help-block"><a href="https://github.com/aterrien/jQuery-Knob" target="_blank">https://github.com/aterrien/jQuery-Knob</span></a>
	<strong>jQuery Countdown</strong> by Keith Wood
	<span class="help-block"><a href="http://keith-wood.name/countdown.html" target="_blank">http://keith-wood.name/countdown.html</span></a>
	<strong>jQuery scrollTo</strong> by Ariel Flesler
	<span class="help-block"><a href="http://flesler.blogspot.it/2007/10/jqueryscrollto.html" target="_blank">http://flesler.blogspot.it/2007/10/jqueryscrollto.html</span></a>
	<strong>Twitter Bootstrap</strong> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>
	<span class="help-block"><a href="http://twitter.github.io/bootstrap/" target="_blank">http://twitter.github.io/bootstrap</a></span>
	<strong>Lato-Fonts by Łukasz Dziedzic</strong>
	<span class="help-block"><a href="http://www.latofonts.com/lato-free-fonts/" target="_blank">http://www.latofonts.com/lato-free-fonts</a></span>
	<strong>Font Awesome by Dave Gandy</strong>
	<span class="help-block"><a href="http://fontawesome.io/" target="_blank">http://fontawesome.io</a></span>
	<strong>Flat UI</strong> by Designmodo
	<span class="help-block"><a href="http://designmodo.github.io/Flat-UI/" target="_blank">http://designmodo.github.io/Flat-UI</a></span>
	<strong>Bootstrap-select</strong> by <a href="https://github.com/caseyjhol" target="_blank">caseyjhol</a>
	<span class="help-block"><a href="http://silviomoreto.github.io/bootstrap-select/" target="_blank">http://silviomoreto.github.io/bootstrap-select/</a></span><br></p>
	
</div>