<div class="container">
	<h1>Plugins</h1>
	<form class="form-horizontal" method="post">
		<fieldset>
			<legend>Plugins management</legend>
			<p>Enable or disable Volumio plugins</p>
			<div class="control-group">
				<label class="control-label">Library view</label>
				<div class="controls">
					<div class="toggle">
						<label class="toggle-radio" for="toggledisplaylib2" >ON</label>
						
$_system_select[displaylib1]

						<label class="toggle-radio" for="toggledisplaylib1">OFF</label>

$_system_select[displaylib0]				
						
					</div>
					<span class="help-block">The library view will be displayed only when this setting is enabled AND, because of its layout, if the screen resolution allows it (bigger than 800x600).
					WARNING: activating the library panel may have an impact on the client-side performances.</span>
				</div>
			</div>
			<div id="displaylibastabblock" class="control-group subgroup">
				<label class="control-label">Show as tab</label>
				<div class="controls">
					<div class="toggle">
						<label class="toggle-radio" for="toggledisplaylibastab2" >ON</label>
						
$_system_select[displaylibastab1]

						<label class="toggle-radio" for="toggledisplaylibastab1">OFF</label>

$_system_select[displaylibastab0]				
						
					</div>
					<span class="help-block">If turned off, the library will be accessible from the "Browse" view.</span>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary btn-large" value="apply" name="apply" type="submit">Apply</button>
			</div>
		</fieldset>
	</form>
</div>
